.images-view ol {
  grid-template-columns: repeat(auto-fill, minmax(256px, 1fr));
}

.images-view li {
  transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color, box-shadow;
}

.images-view li:hover {
  background-color: var(--lumo-primary-color-50pct);
  box-shadow: var(--lumo-box-shadow-s);
}

.images-view .list-image {
  width: 100%;
  border-radius: 0.5em;
}