.username-field {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.password-field {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.save-userdata-button {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.page-title-field {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.hex-color-field {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.download-button {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.language-selection {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.image-settings-button {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.theme-selection {
  margin-left: 0.5em;
  margin-right: 0.5em;
}