.shorten-urls-view {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.shorten-urls-view vaadin-split-layout {
  width: 100%;
  height: 100%;
}

.shorten-urls-view vaadin-grid {
  height: 100%;
}

.shorten-urls-view .editor-layout {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.shorten-urls-view .editor {
  flex-grow: 1;
  padding: var(--lumo-space-l);
}

.shorten-urls-view .editor vaadin-checkbox {
  padding-top: var(--lumo-space-m);
}

.shorten-urls-view .button-layout {
  width: 100%;
  flex-wrap: wrap;
  background-color: var(--lumo-contrast-5pct);
  padding: var(--lumo-space-s) var(--lumo-space-l);
  gap: var(--lumo-space-m);
}

.shorten-urls-view .grid-wrapper {
  width: 100%;
}
