.start-view {
    margin-top: 1em;
}

vaadin-number-field {
    align-items: center;
    text-align: center;
}

.statistics-container .vaadin-field-container {
    align-items: center;
    width: fit-content;
    text-align: center;
}

.statistics-field {
    margin-left: 0.5em;
    margin-right: 0.5em;
    width: max-content;
}

.statistics-field input {
    text-align: center;
    width: 100%;
}

.centered-text {
    text-align: center;
}

.cursor-pointer {
    cursor: pointer;
}