[theme~="catppuccin-macchiato"] {
    --lumo-shade-5pct: hsla(233, 23%, 15%, 0.05);
    --lumo-shade-10pct: hsla(233, 23%, 15%, 0.1);
    --lumo-shade-20pct: hsla(233, 23%, 15%, 0.2);
    --lumo-shade-30pct: hsla(233, 23%, 15%, 0.3);
    --lumo-shade-40pct: hsla(233, 23%, 15%, 0.4);
    --lumo-shade-50pct: hsla(233, 23%, 15%, 0.5);
    --lumo-shade-60pct: hsla(233, 23%, 15%, 0.6);
    --lumo-shade-70pct: hsla(233, 23%, 15%, 0.7);
    --lumo-shade-80pct: hsla(233, 23%, 15%, 0.8);
    --lumo-shade-90pct: hsla(233, 23%, 15%, 0.9);
    --lumo-error-color-50pct: hsla(351, 74%, 73%, 0.5);
    --lumo-error-color-10pct: hsla(351, 74%, 73%, 0.1);
    --lumo-success-color-50pct: hsla(105, 48%, 72%, 0.5);
    --lumo-success-color-10pct: hsla(105, 48%, 72%, 0.1);
    --lumo-shade: hsl(233, 23%, 15%);
    --lumo-error-color: hsl(351, 74%, 73%);
    --lumo-error-text-color: hsl(351, 74%, 73%);
    --lumo-success-color: hsl(105, 48%, 72%);
    --lumo-success-text-color: hsl(105, 48%, 72%);
    --lumo-base-color: hsl(232, 23%, 18%);
    --lumo-body-text-color: hsl(227, 68%, 88%)
}

[theme~="macchiato-lavender"] {
    --lumo-primary-color: hsl(234, 82%, 85%);
    --lumo-primary-text-color: hsl(234, 82%, 85%);
    --lumo-primary-color-50pct: hsla(234, 82%, 85%, 0.5);
    --lumo-primary-color-10pct: hsla(234, 82%, 85%, 0.1);
}