[theme~="catppuccin-mocha"] {
  --lumo-shade-5pct: hsla(240, 21%, 12%, 0.05);
  --lumo-shade-10pct: hsla(240, 21%, 12%, 0.1);
  --lumo-shade-20pct: hsla(240, 21%, 12%, 0.2);
  --lumo-shade-30pct: hsla(240, 21%, 12%, 0.3);
  --lumo-shade-40pct: hsla(240, 21%, 12%, 0.4);
  --lumo-shade-50pct: hsla(240, 21%, 12%, 0.5);
  --lumo-shade-60pct: hsla(240, 21%, 12%, 0.6);
  --lumo-shade-70pct: hsla(240, 21%, 12%, 0.7);
  --lumo-shade-80pct: hsla(240, 21%, 12%, 0.8);
  --lumo-shade-90pct: hsla(240, 21%, 12%, 0.9);
  --lumo-error-color-50pct: hsla(343, 81%, 75%, 0.5);
  --lumo-error-color-10pct: hsla(343, 81%, 75%, 0.1);
  --lumo-success-color-50pct: hsla(115, 54%, 76%, 0.5);
  --lumo-success-color-10pct: hsla(115, 54%, 76%, 0.1);
  --lumo-shade: hsl(240, 21%, 12%);
  --lumo-error-color: hsl(343, 81%, 75%);
  --lumo-error-text-color: hsl(343, 81%, 75%);
  --lumo-success-color: hsl(115, 54%, 76%);
  --lumo-success-text-color: hsl(115, 54%, 76%);
  --lumo-base-color: hsl(240, 21%, 15%);
  --lumo-body-text-color: hsl(226, 64%, 88%)
}

[theme~="mocha-yellow"] {
  --lumo-primary-color: hsl(41, 86%, 83%);
  --lumo-primary-text-color: hsl(41, 86%, 83%);
  --lumo-primary-color-50pct: hsla(41, 86%, 83%, 0.5);
  --lumo-primary-color-10pct: hsla(41, 86%, 83%, 0.1);
}

[theme~="mocha-sapphire"] {
  --lumo-primary-color: hsl(199, 76%, 69%);
  --lumo-primary-text-color: hsl(199, 76%, 69%);
  --lumo-primary-color-50pct: hsla(199, 76%, 69%, 0.5);
  --lumo-primary-color-10pct: hsla(199, 76%, 69%, 0.1);
}