@import url('./main-layout.css');
@import url('./views/images-view.css');
@import url('./views/shorten-urls-view.css');
@import url('./views/users-view.css');
@import url('./views/start-view.css');
@import url('./views/settings-view.css');
@import url('./views/uploaded-image-view.css');
@import url('line-awesome/dist/line-awesome/css/line-awesome.min.css');
@import url('@fontsource/roboto');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

/* Themes */
@import url('css-themes/catppuccin-mocha.css');
@import url('css-themes/catppuccin-macchiato.css');

html {
  --lumo-border-radius: calc(var(--lumo-size-m) / 2);
  --lumo-size-xl: 4rem;
  --lumo-size-l: 3rem;
  --lumo-size-m: 2.5rem;
  --lumo-size-s: 2rem;
  --lumo-size-xs: 1.75rem;
  --lumo-space-xl: 2.5rem;
  --lumo-space-l: 1.75rem;
  --lumo-space-m: 1.125rem;
  --lumo-space-s: 0.75rem;
  --lumo-space-xs: 0.375rem;
  --lumo-font-family: Roboto;
}